@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
/*Set the Heght,width, font, and text color*/
html, body{
  height: 100%;
  width: 100%;
  font-family: 'poppins',sans-serif;
  color:grey;
}
/*Image width*/
.col-md-6 img{
  width: 75%;
}
/*Set the naigation bar height and position*/
nav {
  height: 10vh;
  position: relative;
}
.navbar2 {
  display: none;
}
/*Navigation features*/
.nav-links {
  display: flex;
  list-style: none;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
}
/*Navigation Text size and color*/
.nav-links li a {
  color: white;
  font-size: 16px;
}
/*Hover on links*/
.nav-links  a:hover {
  text-decoration: underline;
  text-decoration-style:wavy;
}
/*Humberger lines features*/
.line {
  width: 30px;
  height: 3px;
  background: white;
  margin: 5px;
}
/*Humberger position*/
.hamburger {
  position: absolute;
  cursor:auto;
  right: 5%;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 2;
}
/* Navigation trnasition fetures and start position*/
  .nav-links {
    background: #343a40;
    height: 100vh;
    flex-direction:column;
    clip-path: circle(20px at 70% 40%);
    -webkit-clip-path: circle(20px at 95% 5%);
    transition: all 1s ease-out;
  }
/* Navigation trnasition shape*/
  .nav-links.open {
    clip-path: circle(870px at 100% 50%);
    -webkit-clip-path: circle(1100px at 95% 5%);
    pointer-events: all;
  }
/* Navigation list motion*/
.nav-links li {
  opacity:0;
}

.nav-links li a {
  font-size: 25px;
}

.nav-links li:nth-child(1) {
  transition: all 0.5s ease 0.2s;
}

.nav-links li:nth-child(2) {
  transition: all 0.5s ease 0.4s;
}

.nav-links li:nth-child(3) {
  transition: all 0.5s ease 0.6s;
}


.nav-links li:nth-child(4) {
  transition: all 0.5s ease 0.8s;
}

li.fade {
  opacity: 1;
}
/*button features*/
.btn{
  background-color: white;
  border: 1px solid grey;
  color: grey;
}
/*Button hover features*/
.btn:hover{
  color: white;
  border: 1px solid grey;
  background-color: grey;
}
/*Responsive screen media query*/
@media (min-width: 360px){
  .nav-links.open {
    clip-path: circle(600px at 100% 50%);
    -webkit-clip-path: circle(600px at 95% 5%);
  }
}

@media (min-width: 411px){
  .nav-links.open {
    clip-path: circle(800px at 100% 50%);
    -webkit-clip-path: circle(800px at 95% 5%);
  }
}

@media (min-width: 768px)
{
  .nav-links.open {
    clip-path: circle(1300px at 100% 50%);
    -webkit-clip-path: circle(1300px at 95% 5%);
  }
}

@media only screen
and (device-width: 375px)
and (device-height: 812px)
and (-webkit-device-pixel-ratio: 3) {
  .line {
    display: none;
  }
  .nav-links {
    display: none;
  }

  .hamburger {
    display: none;
  }

  .navbar2 {
    display:flex;
    flex-direction: row;
    position:absolute;
    top: 0;
    width: 50%;
  }

  .navbar2 a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .navbar2 a:hover {
    background: #ddd;
    color: black;
  }


}

/*--- Fixed Background --*/
figure {
  position: relative;
  width: 100%;
  height:65%;
  margin: 0!important;
}

.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/*--- Fixed Background Image--*/
#fixed {
  background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0, 0, 0, 0.5)),
  url('img/pic11.jpg');
  position: fixed;
  display:block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}

/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
  padding: 1rem;
}

.container-fluid hr {
  border:.5px solid white;
  width: 40%;
}

.container-fluid h1{
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 350%;
}
/*Contact form*/
form{
  text-transform:capitalize;
  font-size: 350%;
  text-align: center;
  transition:
}
/*social media features*/
.social a{
  font-size: 3.4em;
  padding: 3rem;
}

.fa-facebook{
  color: #3b5998;
}

.fa-twitter{
  color: #00aced;
}

.fa-linkedin{
  color: #0e76a8;
}

footer{

  width: 100%;
  color: white;
}
